<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Mini Project Group-H</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-black">
    <div class="container mx-auto mt-4">
        {% block content %}
          <h1 class="text-3xl text-emerald-500 text-center font-bold">IoT Mini Project Group-H</h1>
        {% endblock content %}
    </div>
</body>

</html>
